faiss-cpu==1.7.2
numpy==1.21.0
torch==1.13.0
torchvision==0.14.0
Pillow==9.0.0
tqdm==4.64.0
ultralytics
supervision
deepface
huggingface
sentence_transformers
torchvision 
cmake
scikit-learn
ffmpeg
tensorflow
keras
sounddevice
whisper
dlib
scipy
opencv-python
pandas
numpy

